@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  background-attachment: fixed;
  padding-top: 65px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.brand {
  font-size: 1.5em;
  font-weight: 700;
}

.container-custom {
  width: 75%;
}

.border-custom {
  border-color: #6c757d;
}

.bg-darkGrey {
  background-color: #121212;
}

.custom-sticky {
  position: sticky;
  top: 70px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px rgb(26, 26, 26) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.overlay1 {
  background-color: rgba(255, 255, 255, 0.07) !important;
}

input {
  background-color: #212529 !important;
  color: white !important;
}

.active {
  background-color: #1d1d1d;
  box-shadow: 0px 0px 0px 2px #0dcaf0 inset;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
}

.navbar-custom {
  box-shadow: 0 4px 15px 5px black;
  background-color: #292929;
}

.menu-bg {
  background-color: #292929;
}

/* ==================================== */
/*          Account Page                */
/* ==================================== */

.account-nav,
.account-nav > ul {
  margin: 0;
  padding: 0;
}

.account-nav > hr {
  color: white;
}

.account-nav > ul > li:hover {
  border-radius: 0;
  cursor: pointer;
  background-color: #1d1d1d;
}

.account-nav > ul > li.active {
  border-radius: 0;
  box-shadow: none;
  background-color: #1d1d1d;
}

.account-nav > ul > hr {
  width: 90%;
}

/* ==================================== */
/*                Footer                */
/* ==================================== */

footer {
  background-color: #000000;
  /* background-color: #20222a; */
  margin-top: auto;
}

.footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer-list > li > a {
  text-decoration: none;
  color: white;
}

.footer-list > li > a:hover {
  color: red;
}

/* ==================================== */
/*              Cart Rules              */
/* ==================================== */

.main_cart {
  background: #fff;
}

.card {
  border: none;
}

.product_name {
  color: black;
  text-transform: capitalize;
  font-weight: 500;
}

.card-title p {
  font-size: 0.9rem;
  font-weight: 500;
}

.price-money h3 {
  font-size: 1rem;
  font-weight: 600;
}

.set_quantity {
  position: relative;
}

.page-link-custom {
  line-height: 16px;
  width: 45px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212529;
}
.page-item-custom input {
  line-height: 22px;
  padding: 3px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ==================================== */
/*          Custom Pagination           */
/* ==================================== */

.pagination > li > a {
  background-color: #292929;
  color: white;
  border-color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background-color: #424547;
  border-color: #b1b3b4 !important;
}

.pagination > .active > a {
  color: white;
  background-color: #111111 !important;
  border: solid 1px #6c757d !important;
}

.page-item.disabled > a {
  background-color: #292929 !important;
  border-color: #6c757d !important;
}

/* ==================================== */
/*             Cart Counter             */
/* ==================================== */

.cart-wrapper {
  position: relative;
  margin-right: 16px;
}
.cart-badge {
  position: absolute;
  top: -10px;
  right: -12px;
}

/* ==================================== */
/*           Parsley Validator          */
/* ==================================== */

.parsley-errors-list {
  padding-inline-start: 5px;
  margin: 0;
}

.parsley-errors-list > li {
  list-style: none;
}
